@use './colors' as *;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
:root {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

.white-block {
	position: absolute;
	background-color: $pure_white;
	width: 60%;
	height: 40px;

	&-left {
		bottom: -1px;
		left: -50px;
		transform: skew(45deg);
	}

	&-right {
		top: -1px;
		right: -50px;
		transform: skew(45deg);
	}
}

.section-heading {
	font-weight: 300;
	font-size: 3rem;
	color: $main-color;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 5rem;
}

.section-padding {
	padding: 10em 2em;
}

.btn-special-animation {
	z-index: 0;
	overflow: hidden;
	cursor: pointer;

	&::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transform: scaleX(0%);
		z-index: -1;
	}

	&::after {
		transform-origin: right;
		transition: transform 0.3s;
	}

	&:hover::after {
		transform-origin: left;
		transform: scaleX(100%);
	}
}

@media (min-width: 768px) {
	.section-heading {
		font-size: 4rem;
	}

	.section-padding {
		padding: 16em 2em;
	}
}

@media (min-width: 992px) {
	.section-heading {
		font-size: 4.8rem;
	}

	.white-block {
		width: 45%;
		height: 50px;
	}
}
