@use './colors' as *;

@mixin burgerBars {
	position: absolute;
	content: '';
	right: 0;
	height: 3px;
	width: 100%;
	background-color: $pure-white;
	transition: width 0.3s;
}

@mixin backgroundImage($path) {
	width: 100%;
	height: 100%;
	background-image: $blue-gradient, url($path);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

@mixin label {
	text-transform: uppercase;
	font-size: 1.6rem;
}

@mixin input {
	border-radius: 8px;
	border: none;
	padding: 1em;
	width: 100%;
	font-size: 1.6rem;
	background-color: $pure-white;
}
